<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://exist-db.org/apps/tei-graphing" abbrev="tei-graphing" version="@project.version@" spec="1.0">
    <title>(TEI) Graphing for eXist-db</title>
    <dependency processor="http://exist-db.org" semver-min="3.0.2"/>
</package>
